.comment_file_list {
    text-decoration: none;
    margin: -7px 0 13px;
}
.comment_file_list .btn_file {
    color: #696e7a;
    font-size: 12px;
}
.comment_file_list .btn_file.on ~ ul {
    display: block;
}
.comment_file_list ul {
    margin:0;
    padding:0;
    display: none;
    list-style: none;
}
.comment_file_list li {
    margin-top: 5px;
    font-size: 12px;
}
.comment_file_list li a {
    color: #bebebe !important;
}
.comment_file_list li a:hover {
    color: #696e7a;
}